body{
    font-family: 'Courier New', Courier, monospace;
}



header{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin-right: 30px;
}

nav{
    margin-right: 30px;
   
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

nav ul li{
    padding-right: 40px;

}

nav ul li a{
    transition: 0.3s;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons i{
    padding-right: 40px;
    
}

.home .row{
    display: flex;
    flex-direction: row;
}

.home-col-1{
    padding: 60px;
}

.home-col-1 h1{
    font-size: 80px;
}

